
.nav-drawer {
  background-color: $dark-background-color;
  padding: $app-padding 0;
  .menu-label {
    padding-left: $menu-indent-1;
    cursor: default;
    // padding-right: $app-padding;
  }

  .menu-list {
    a {
      padding-left: $menu-indent-1;
      &.is-active:hover {
        background-color: $menu-item-hover-background-color;
      }
      // padding-right: $app-padding;
    }
    ul {
      margin-left: $menu-indent-1;
      margin-right: 0;
      padding-left: 0;
    }
  }

  .menu-label + .menu-list {
    a {
      padding-left: $menu-indent-2;
      // padding-right: $app-padding;
    }
    ul {
      margin-left: $menu-indent-2;
      li a {
        padding-left: $menu-indent-2;
        padding-right: 0;
      }
    }
  }
}